.post-content br:nth-child(2n) + br, .page-content p br:nth-child(2n) + br {
  content: "";
  display: block;
  color: red;
}
.post-content br:nth-child(2n) + br:after, .page-content p br:nth-child(2n) + br:after {
  content: "MAKE THIS A SEPARATE PARAGRAPH PLS";
}
.post-content br:last-child, .page-content p br:last-child {
  content: "";
  display: block;
  color: red;
}
.post-content br:last-child:after, .page-content p br:last-child:after {
  content: "GET RID OF THE BLANK NEW LINE PLS";
}