// Follow da rules
@mixin error-br {
  content: '';
  display: block;
  color: red;
}
.post-content, .page-content p {
  br:nth-child(2n) {
    @include error-br;
    &:after {
      content: 'MAKE THIS A SEPARATE PARAGRAPH';      
    }
  }
  br:last-child {
    @include error-br;
    &:after {
      content: 'REMOVE THIS BLANK NEW LINE' !important;
    }
  }
}