@use "../include/globals";
@use "../include/campaign-info";

.posts {
  @include globals.main-content;
  
  display: grid;
  row-gap: 40px;
  column-gap: 20px;

  .first-post {

    .post-title {
      margin-top: 0.6rem;
      margin-bottom: 0.5rem;
    }

    img {
      margin-left: -1rem;
      margin-right: -1rem;
      max-width: 100vw;
    }
  }

  @media #{globals.$mobile-small-query} {
    grid: "first-post first-post"
          / 1fr 1fr;
    
    .first-post {
      grid-area: first-post;
    }
  }

  @media #{globals.$mobile-query} {
    grid: "first-post first-post second-post"
          "first-post first-post third-post"
          "divider divider divider"
          / 1fr 1fr 1fr;

    column-gap: 25px;
    
    .first-post {
      margin: 0;
      img {
        margin: 0;
        max-width: 100%;
      }
    }

    .second-post {
      grid-area: second-post;
    }

    .third-post {
      grid-area: third-post;
    }

    .divider {
      grid-area: divider;
      width: 90%;
      justify-self: center;
      border-style: unset;
      border-top: globals.$divider-line;
    }
  }
}

.empty-page-message .category-title {
  text-transform: lowercase;
}