@use "../include/globals";
@use "../include/campaign-info";
@use "../include/page-nav-buttons.scss";

main {
  h1.search-title {
    @include globals.main-content;
    margin-bottom: 2rem;
    font-size: 1.3rem;

    @media #{globals.$mobile-query} {
      font-size: 2rem;
    }
  }

  .posts {
    
    @include globals.main-content;
    display: grid;
    column-gap: 20px;
    row-gap: 32px;

    @media #{globals.$mobile-small-query} {
      grid-template-columns: 1fr 1fr;
    }

    @media #{globals.$mobile-query} {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
}