@use "../include/globals";
@use "../include/campaign-info";
@use "../include/share-buttons";
@import "../include/globals";
article {
    @include globals.main-content;
    max-width: 799px - 32px;
    position: relative;
    display: grid;
    grid: "title" 
          "image" 
          "side-bar" 
          "content";
    column-gap: 32px;
    .post-title {
        grid-area: title;
    }
    .wp-post-image {
        grid-area: image;
        margin-left: -1rem;
        margin-right: -1rem;
        max-width: 100vw;
    }
    aside {
        align-items: center;
        box-sizing: border-box;
        grid-area: side-bar;
        margin-top: 24px;
        h1 {
            color: $theme-primary-color;
        }
        &>*:not(:last-child) {
            margin-bottom: 1rem;
        }
        .fundraising-info {
            align-self: stretch;
            .fundraising-amount span {
                font-size: 0.875rem;
                line-height: 1.21rem;
                margin-left: 3px;
            }
        }
        .share-icons {
            justify-content: center;
        }
        .reward-link-container {
            width: 100%;
            .reward-tier {
                color: $primary-text-color;
                border: 1px solid #DDDDDD;
                padding: 10px;
                .reward-tier-pledge {
                    font-size: 1.1rem;
                    margin-bottom: 1rem;
                }
                .reward-tier-title {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
                .reward-tier-backers {
                    font-size: 0.6rem;
                    color: $secondary-text-color;
                }
                p {
                    margin-top: 0;
                    color: $secondary-text-color;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .post-content {
        grid-area: content;
        margin-top: 24px;
    }
    .author {
        .url {
            display: inline;
        }
    }
    aside,
    .post-content {
        @include globals.main-content;
        max-width: 700px;
    }
    @media #{globals.$mobile-large-query} {
        grid: "title title" 
              "image side-bar" 
              "content side-bar"
              ". side-bar"
              / 9fr 5fr;
        max-width: globals.$main-content-desktop-width;
        .wp-post-image {
            max-width: 100%;
            margin: 0;
        }
        .post-content {
            max-width: 680px;
            margin-right: 0;
        }
        aside {
            position: sticky;
            top: 1rem;
            align-self: start;
            padding: 24px;
            margin: 0;
            border-radius: 10px;
            box-shadow: 0 0.3125rem 1rem -0.1875rem rgba(0, 0, 0, .2);
            .fundraising-info {
                flex-direction: column-reverse;
            }
        }
    }
}