$mobile-small-break: 510px;
$mobile-break: 800px;
$mobile-large-break: 960px;
$desktop-small-break: 1055px;
$mobile-small-query: "screen and (min-width: #{$mobile-small-break})";
$mobile-query: "screen and (min-width: #{$mobile-break})";
$mobile-large-query: "screen and (min-width: #{$mobile-large-break})";
$desktop-small-query: "screen and (min-width: #{$desktop-small-break})";
$main-side-padding: 16px;
$main-top-space: 18px;
$main-bottom-space: 40px;
$top-nav-height: 56px;
$desktop-header-height: 179px;
$footer-height: 185px;
$icon-size: 24px;
$touch-target-size: 48px;
$icon-padding: ($touch-target-size - $icon-size) / 2;
$menu-item-padding: 12px;
$divider-line: 1px solid #ddd;
$logo-height: 30px;

$default-line-height: 1.5em;

//$theme-primary-color: #34ca96;
$theme-primary-color: #27963c;
$primary-text-color: #333;
$secondary-text-color: #666;
$hover-color: rgba(0, 0, 0, 0.02);

$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$default-share-color: #323b43;

@mixin main-content {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@mixin stretch {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin touch-target-padding($width: null, $height: null) {
  $padding-left-right: 0;
  $padding-top-bottom: 0;
  @if ($width != null) {
    $padding-left-right: max(($touch-target-size - $width) / 2, 0);
  }
  @if ($height != null) {
    $padding-top-bottom: max(($touch-target-size - $height) / 2, 0);
  }
  padding: $padding-top-bottom $padding-left-right;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}